main {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 50px auto;
  align-items: center;
}

section {
  width: 750px;
  border-radius: 30px;
}

section h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 1.3em;
  color: var(--color-light);
}

.post {
  width: 750px;
  height: 600px;
}

.posts {
  margin: 30px auto 0;
  width: 650px;
  height: 540px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light);
}
.posts > p {
  margin: 20px 0 10px;
  color: var(--color-dark);
  text-decoration: underline;
}

.posts > a > img {
  width: 650px;
  height: 325px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center center;
}

.posts > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.posts > ul > li {
  width: 150px;
  height: 30px;
  margin: 10px 0;
  color: var(--color-dark);
}

.storage {
  display: block;
  font-size: 1.2em;
  padding-top: 2px;
  margin: 10px auto;
  width: 120px;
  height: 35px;
  background-color: #1a1a1d;
  border-radius: 10px;
  color: var(--color-light);
}

.posts:hover {
  box-shadow: 0 5px 10px var(--color-dark);
  transition: 0.2s ease-in;
}

.storage:hover {
  text-shadow: none;
  background-color: var(--color-dark);
  transition: 0.2s ease-in;
  box-shadow: 0 0 5px var(--color-dark);
}

.layouts {
  height: 390px;
}

.layout {
  height: 420px;
}
